*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer'
    ;
    
}

body header{
    background-color: #345B63;
    grid-area: header;
    color: white
}

body aside{
    background-color: #152D35;
    grid-area: aside;
    color: white

}

body main {
    background-color: #DDF0E4;
    grid-area: main;
    height: 100vh;
}

body footer{
    background-color: #345B63;
    grid-area: footer;
}